*, html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Ubuntu', sans-serif;;
  background-color: rgba(237, 242, 254, 0.98);
  text-decoration: none;
  padding: 0;
}